
<div class="forget-passwd-main-container">
    <div class="message_error" id="message_error_email">
        <span id="error_messsge_email"></span>
    </div>
    <div class="forget-pass-container" id="forget-pass-container">
        <div class="form-control-forget_passwd">
                <input type="email" name="email" id="email-forget-passwd" required placeholder="Enter your Surfline Email address">
                <div class="forget-pass-btn-group">
                    <button id="submit-forget-pass-btn" type="button">Submit</button>
                    <button id="cancel-forget-pass-btn" type="button">Cancel</button>
                </div>
        </div>
    </div>
</div>
