<div class="home-main-container" >
    <div class="change-password-overlay" id="change-password-overlay">
        <div class="change-password-form-container" >
            <div class="message_error_passwd" id="message_error_passwd">
                <span id="error_messsge_passwd"></span>
            </div>
            <form action="/changepasswd" method="post" id="changePasswd-form">

                <div class="form-control-changePass">
                    <label for="oldpass">Old Password</label>
                    <input type="password" name="oldpass" id="oldpass" required>
                    <i class="far fa-eye" id="togglePassword"></i>
                </div>
                <div class="form-control-changePass">
                    <label for="newpass1">New Password</label>
                    <input type="password" name="newpass1" id="newpass1" required>
                </div>
                <div class="form-control-changePass">
                    <label for="newpass2">Confirm New Password</label>
                    <input type="password" name="newpass2" id="newpass2" required>
                </div>
                <div class="form-control-changePass-btn">
                    <button id="change-pass-btn" type="submit">Submit</button>
                    <button id="cancel-change-pass-btn" type="button">Cancel</button>
                </div>


            </form>
        </div>
    </div>
    <div class="home-change-passwd">
        <ul>
            <li><button id="change-Passwd-btn">Change password</button></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt" id="logout-btn"></i>Logout</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="home-form-container">
        <form action="/report" id="report-form" method="post">
        <div class="home-form-control select-report">
            <select class="select-css" id="select-report" required name="pm_counter">
                <option value="">---- Select PM Indicator Counter -----</option>
                <option value="NbrSuccessAttachRequests" >Number Of Success Attach Requests</option>
                <option value="AttAttachRequests" >VS_UE_attach_req</option>
                <option value="NbrAttachReqAbortBefore">VS_UE_attach_abort_BeforeAttachCmp</option>
                <option value="NbrAttachReqAbortAfter">VS_UE_attach_abort_AfterAttachCmp</option>
                <option value="NbrFailedAttachRequests_PLMNnotAllowed">VS_UE_attach_fail_rej_PLMNnotAllowed</option>
                <option value="NbrFailedAttachRequests_EPSandNonEPSnotAllowed">VS_UE_attach_fail_rej_EPSandNonEPSnotAllowed</option>
                <option value="NbrFailedAttachRequests_CannotDeriveUEid">VS_UE_attach_fail_rej_UEidCannotBeDerived</option>
                <option value="NbrFailedAttachRequests_NetworkFailure">VS_UE_attach_fail_rej_NetworkFailure</option>
                <option value="NbrPageRespInLastSeenTA">VS_paging_all_rsp_ENBinLastTA</option>
                <option value="NbrPageRespNotInLastSeenTA">VS_paging_all_rsp_ENBNotinLastTA</option>
                <option value="NbrPagingFailures_Timeout">VS_paging_all_fail_OnMaxRetry</option>
                <option value="AttPaging_FirstAttempt">VS_paging_all_req_1stTry</option>
                <option value="NbrSuccessTAU">VS_UE_TAU_all_succ</option>
                <option value="TauInterMmeSucc">VS_UE_TAU_IrMME_all_succ</option>
                <option value="AttTAU">VS_UE_TAU_all_req</option>
                <option value="TauInterMmeAtt">VS_UE_TAU_IrMME_all_req</option>
                <option value="VS_UE_attach_succ_rate_SFL">VS_UE_attach_succ_rate_SFL</option>
                <option value="VS_paging_all_rsp_copy_1">VS_paging_all_rsp_rate_copy_1</option>
                <option value="VS_paging_all_rsp">VS_paging_all_rsp</option>
                <option value="VS_UE_TAU_IaMME_all_succ_rate">VS_UE_TAU_IaMME_all_succ_rate</option>
                <option value="VS_UE_TAU_IaMME_all_succ">VS_UE_TAU_IaMME_all_succ</option>
                <option value="VS_UE_TAU_IaMME_all_req">VS_UE_TAU_IaMME_all_req</option>
                <option value="UECapacityUsage">MAF Capacity</option>
                <option value="AveNumOfDefaultBearers">Avg Number_Default_Bearers</option>
                <option value="MaxNumOfDefaultBearers">Max Number_Default_Bearers</option>
                <option value="AveNumOfDedicatedBearers">Avg Number_Dedicated_Bearers</option>
                <option value="MaxNumOfDedicatedBearers">Max Number_Dedicated_Bearers</option>
                <option value="AveNbrOfRegisteredUE">Avg Number_Registered_UEs</option>
                <option value="MaxNbrOfRegisteredUE">Max Number_Registered_UEs</option>
                <option value="AveNbrOfIdleUE">Max Number_Idle_UEs</option>
                <option value="MaxNbrOfIdleUE">Avg Number_Idle_UEs</option>
                <option value="AveConnectedUE">Max Number_Connected_UEs</option>
                <option value="MaxConnectedUE">Avg Number_Connected_UEs</option>
            </select>
        </div>
            <div class="home-form-date">
                <div class="home-date-fieldset">


                        <div class="home-period-fieldset">
                            <fieldset id="periodicity">
                                <legend>Periodicity</legend>
                                <div class="flex-group">
                                    <div class="group-item">
                                        <div class="home-form-control">
                                            <ul >
                                                <li><label><input type="radio" name="period" required value="hourly">&nbsp;Hour</label></li>
                                                <li><label><input type="radio" name="period" required value="daily">&nbsp;Day</label></li>
                                                <li><label><input type="radio" name="period" required value="weekly">&nbsp;Week</label></li>
                                                <li><label><input type="radio" name="period" required value="monthly">&nbsp;Month</label></li>
                                                <li><label><input type="radio" name="period" required value="yearly">&nbsp;Year</label></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="group-item">
                                        <div class="home-form-control">
                                            <ul >
                                                <li><label>&frac14;Hour&nbsp;<input type="radio" name="period" required value="15mins"></label></li>
                                                <li><label>&frac12;Hour&nbsp;<input type="radio" name="period" required value="30mins"></label></li>
                                                <li><label>&frac34;Hour&nbsp;<input type="radio" name="period" required value="45mins"></label></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="group-item">
                                        <div class="home-form-control">
                                            <ul >
                                                <li><label><input type="radio" name="period" required value="trendhrsDay">&nbsp;Trend on hours of day</label></li>
                                                <li><label><input type="radio" name="period" required value="trendhrsWk">&nbsp;Trend on hours of week</label></li>
                                                <li><label><input type="radio" name="period" required value="trenddaysWk">&nbsp;Trend on days of week</label></li>
                                                <li><label><input type="radio" name="period" required value="trenddaysMon">&nbsp;Trend on days of month</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                        <div class="home-date-select">
                            <fieldset id="dateTime">
                                <legend>Date/Time</legend>

                                <div class="flex-group-date">
                                    <div class="home-form-control">
                                        <label >Begin Date: <input type="datetime-local" name="beginDate"  id="beginDate" required min="2020-09-01T00:00"></label>
                                        <br>
                                        <small class="error"><i class="fas fa-exclamation-triangle"></i>&nbsp;Invalid Begin Date (Should be less than End Date)</small>
                                    </div>
                                    <div class="home-form-control">
                                        <label >End Date: <input type="datetime-local" id="endDate" name="endDate" required></label>
                                    </div>
                                </div>

                                <script>
                                    (function() {
                                        const begindate_el = document.getElementById("beginDate");
                                        const end_date_el =document.getElementById("endDate");
                                        if (begindate_el.type === "text"){
                                            begindate_el.type = "date";
                                            end_date_el.type ="date";
                                        }

                                    })();
                                </script>

                            </fieldset>

                        </div>



                </div>

            </div>
            <div class="generateReport-btn">
<!--                <input type="submit" value="Generate Report" id="generateReport-btn">-->
                <button type="submit" id="generateReport-btn">Generate Report</button>
            </div>
        </form>



    </div>
</div>
