@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


 body {
     font-family: 'PT Serif', serif;
     background: #03a9f48c;
}


 .header {
     font-family: 'PT Serif', serif;
     padding: 70px 50px 50px;
     text-align: center;
     color: white;
 }

 .header h1 {
     text-shadow: 2px 2px 2px #ccc;
 }

 .login-main-container {
     width: 300px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;

 }





 .textbox {
     width: 100%;
     overflow: hidden;
     font-size: 20px;
     padding: 8px 0;
     margin: 8px 0;
     border-bottom: 1px solid #0c2131;

 }

 .textbox i {
     width: 26px;
     text-align: center;
     float: left;
 }

 .textbox input {
     border: none;
     outline: none;
     background: none;
     color: #0c2131;
     float: left;
     width: 80%;
     font-size: 18px;
     margin: 0 10px;
 }

.textbox input[placeholder]{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

 .login-btn {
     width: 100%;
     background: #0c2131;
     border: 2px solid #0c2131;
     color: white;
     font-size: 18px;
     padding: 5px;
     margin: 10px 0;
     border-radius: 5px;
     font-weight: bold;
     font-family: 'PT Serif', serif;
 }

 .login-btn:hover {
     color: #0c2131;
     background: white;
 }

 .login-btn:active{
     background: transparent;
 }


 .home-main-container {
     padding: 20px;
 }

 .select-report {
     width: 600px;
     margin: 30px auto;
     overflow: hidden;
     padding: 10px;


 }
 .select-report label {
     color: #0c2131;
     font-weight: bold;
     display: none;
 }
 .select-report label:after{
     content: "*";
     margin-right: 10px;
 }


 .select-css {
     padding: 10px;
     color: #444;
     border: 1px solid #aaa;
     box-shadow: 2px 1px 0 1px rgba(0,0,0,.04);
     border-radius: 5px;

 }

 .select-css option {
    background: #aaaaaa;
 }

 .home-form-date {
     padding: 20px;
     color: #444;
 }

 #date-fieldset {
     padding: 30px;
 }

 #periodicity{
     padding: 30px;
 }

 .home-form-control ul {
     list-style: none;
 }

 .home-form-control ul li {
     padding: 5px;
 }

.home-form-control ul li input {
    display: inline-block;
    padding: 0 5px;

}

 .flex-group {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .group-item {
     width: 30%;
     text-align: left;
 }
 .home-period-fieldset {
     margin: 10px 0;
 }

 .home-date-select {
     margin: 30px 0;

 }

 #dateTime {
     padding: 30px;
 }

 .flex-group-date {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 30px;
 }

 legend {
     font-weight: bold;
 }
 legend:after {
     content: "*";
     font-weight: bold;
 }

 fieldset {
     border-radius: 10px;
     border-color: #ccc;
 }
 .generateReport-btn {
     text-align: center;
 }

 #generateReport-btn {
     width: 200px;
     padding: 10px 15px;
     font-weight: bold;
     color: #0c2131;
     border-radius: 5px;
     box-shadow: 2px 4px 2px 2px #0c2131;
     font-size: 18px;
     font-family: 'PT Serif', serif;
 }

 #generateReport-btn:hover{
     background: #0c2131;
     color: white;
 }

 #generateReport-btn:active{
     background: transparent;
 }

 .main-report-container {
     display: flex;
     justify-content: space-between;
     align-items: start;
     padding: 40px;
 }


 .table-container {
     width: 40%;


 }

 .report-chart-container{
     width: 55%;
     text-align: center;

 }



 .table-container h3 {
     text-align: center;
 }

 .report-chart-container {
     margin: 50px 0;
     position: relative;
 }

 #generateChart{
     width: 200px;
     padding: 10px 15px;
     /*font-weight: bold;*/
     color: #0c2131;
     border-radius: 5px;
     box-shadow: 2px 4px 2px 2px #0c2131;
     font-size: 16px;
     text-align: center;
 }

 #generateChart:hover{
     background: #0c2131;
     color: white;
 }

 #generateChart:active{
     background: transparent;
 }

 .error {

     color: #b53535;
     font-weight: bold;
     display: none;

 }

 .charts {
     margin-top: 40px;
     padding: 10px;
 }

 #downloadcsv {
/*     position: absolute;
     top: 0;
     left: 0;*/
     padding: 10px;
     border-radius: 5px;
     box-shadow: 2px 4px 2px 2px #0c2131;

 }

 .generate-chart-btn-container {
     display: flex;
     justify-content: space-evenly;

 }

 #downloadcsv:hover{
     background: #0c2131;
     color: white;
 }

 #downloadcsv:active{
     background: transparent;
 }

 .home-change-passwd {
     float: right;
     padding: 10px;
 }

 .home-change-passwd ul {
     list-style: none;
 }

 .home-change-passwd li {
     padding: 0 10px;
 }

 .home-change-passwd ul li:last-child {
     text-align: right;
 }

 .home-change-passwd a {
     text-decoration: none;
     color: #0c2131a1;
     text-align: right;
     font-size: 14px;
     font-family: 'PT Serif', serif;
     font-weight: bold;
 }

 .home-change-passwd button {
     display: inline-block;
     padding: 5px 0;
     color: #0c2131a1;
     text-align: right;
     font-size: 14px;
     font-family: 'PT Serif', serif;
     font-weight: bold;
     border: none;
     background: inherit;
     cursor: pointer;


 }

 .clearfix {
     clear: both;
 }

 .report-logout {
     float: right;
     margin-top: 10px;
     margin-right: 20px;
 }

 .report-logout a {
     text-decoration: none;
     color: #0c2131a1;
     text-align: right;
     font-size: 14px;
     font-family: 'PT Serif', serif;
     font-weight: bold;


 }

 .login-forgot-password {
     float: right;
     font-size: 12px;
     font-family: 'PT Serif', serif;
     text-decoration: none;
     color: #0c2131a1;
     font-weight: bold;

 }

 .message_error {
     color: #b53535;
     margin-bottom: 30px;
     font-family: 'PT Serif', serif;
     font-weight: bold;
 }


 .error-404{
     padding: 30px;
     margin-top: 20px;
     text-align: center;
     color: #b53535;
     font-family: 'PT Serif', serif;
 }

 .error-404 h2{
     margin-bottom: 15px;

 }

 .error-404 a {
     font-weight: bold;
 }


 .change-password-overlay {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 100;
     background: rgba(123,111,234,0.85);
     display: none;
 }

 .change-password-form-container {
     width: 40vw;
     height: 50vh;
     margin: 70px auto;
     background: #aec5b6;
     padding: 50px;
     font-family: 'PT Serif', serif;
     color: #0c2131;
     border-radius: 5px;
     box-shadow: 2px 1px 1px #0c2131;

 }

 .change-password-form-container label {
     display: block;


 }

 .form-control-changePass {
     position: relative;
 }

 .change-password-form-container input {
     display: inline-block;
     width: 100%;
     padding: 10px;
     border-radius: 5px;
 }

.change-password-form-container input:focus{
    background: #969664;
}

 .change-password-form-container .form-control-changePass {
     padding: 10px;
 }

 .form-control-changePass-btn {
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }

 .form-control-changePass-btn button {
     display: inline-block;
     padding: 10px 30px;
     font-family: 'PT Serif', serif;
     font-weight: bold;
     color: #0c2131;
     font-size: 18px;
     border-radius: 5px;
     cursor: pointer;
 }

.form-control-changePass-btn button:hover,
.form-control-changePass-btn button:active {
    background: #0c2131;
    color: #ccc;
}

.message_error_passwd {
    display: none;
    text-align: center;
    color: #b53535;
}

#togglePassword {
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.forget-passwd-main-container {
    width: 40vw;
    height: 40vh;
    margin: 70px auto;
    background: #aec5b6;
    padding: 50px;
    font-family: 'PT Serif', serif;
    color: #0c2131;
    border-radius: 10px;
    box-shadow: 2px 1px 1px #0c2131;

}

.forget-pass-container {
    padding-top: 20px;
}

.forget-passwd-main-container input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.forget-passwd-main-container button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 30px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #0c2131;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.forget-passwd-main-container button:hover,
.forget-passwd-main-container button:active {
    background: #0c2131;
    color: #ccc;
}

.forget-pass-btn-group {
    display: flex;
    justify-content: center;
}

.forget-passwd-main-container input[placeholder]{
    font-weight: bold;
    font-family: 'PT Serif', serif;
}

#reset-pass-group-1{
    display: none;
    text-align: center;
    color: #ec0b72;
    padding: 40px 30px;
}

#reset-pass-group-1 a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 15px 10px;
    font-weight: bold;
    font-family: 'PT Serif', serif;


}
.table-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 5px black;
}

.table-container h3 {
    padding: 10px 0 0 0;


}
.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    text-align: left;
}

.content-table thead tr {
    background: #008000;
    color: white;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 10px;
    border: 1px solid #645d5d;
}

.content-table tr:nth-of-type(even){
    background: #efecec;
}

.charts {
    background: #fff;
    color: #0a0303;
    display: none;
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 5px #ccc;
}









